.card {
  padding: 24px;
  height: 400px;
  width: 400px;
  background-color: #24232b;
  border: 5px #24232b solid;
}

.heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.copy-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.4rem;
  color: #707070;
}

.character {
  margin-top: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #707070;
}

.file-progressbar {
  width: 100%;
}

.number {
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  margin-top: -1.4rem;
}

.check-boxes {
  margin-top: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #707070;
}

label {
  margin-left: 1rem;
}

input {
  margin-top: 12px;
}

.strength {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #707070;
}

.poor {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.4rem;
  font-size: 14px;
}

.file-progressbar-2 {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 320px;
  margin-top: -20px;
}

.prog {
 accent-color: red;
}

.btn {
  margin-top: 12px;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  background-color: #2a8b8b;
  border: none;
  cursor: pointer;
}
